body {
  margin: 0px;
  font-size: 14pt;
  font-family: sans-serif;
}



button {
  border: 2px solid black;
  background-color: #FFF;
  font-size: 12pt;
}
button:hover {
  background-color: #CCC;
}
button:active:not(:disabled) {
  filter: invert();
}
button:disabled {
  text-decoration: line-through;
  cursor: not-allowed;
  background-color: #DDD;
}
button:disabled:active {
  color: red;
}
button.busyable:disabled {
  cursor: wait;
}

input[type=checkbox] {
  margin: 0px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  appearance: none;
  border: 2px solid black;
  background-color: white;
  flex-shrink: 0;
}
input[type=checkbox]:hover {
  background-color: #AAA;
}
input[type=checkbox]:checked {
  filter: invert();
}

label[for="autorefresh"] {
  font-size: 12pt;
  display: flex;
  align-items: center;
}



.app {
  display: grid;
  grid-template:
    "addfiles    tabs  header" auto
    "   files preview preview" 1fr
    " options preview preview" 1fr
    "  footer  footer  footer" auto
    / auto 1fr auto;
  grid-gap: 2px;
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
}

.app > * {
  box-sizing: border-box;
  box-shadow: 0 0 0 2px black;
  margin: 2px;
  padding: 2px;
}

.app > .header {
  grid-area: header;
  padding: 0px 8px;

  display: flex;
  align-items: center;

  font-weight: bold;
}
.app > .tabs {
  grid-area: tabs;
}
.app > .add-files {
  grid-area: addfiles;
}
.app > .file-tree {
  grid-area: files;
  margin-top: -2px;
  max-width: 425px;
  overflow-y: auto;
}
.app > .render, .app > .logs {
  grid-area: preview;
  margin-top: -2px;
  min-height: 0;
}
.app > .options {
  grid-area: options;
  overflow-y: auto;
}
.app > .footer {
  grid-area: footer;
}



.add-files {
  white-space: nowrap;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}



.tabs {
  display: flex;
  gap: 2px;
}
.tabs > .tab {
  margin-top: 4px;
  margin-bottom: -4px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.tabs > .tab::before {
  content: '●';
  color: #888;
  margin-right: 4px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
}
.tabs > .tab.active::before {
  content: '▶';
  color: black;
}



.control-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  margin: 2px 0px;
}
.control-group input {
  flex-grow: 1;
}
.control-group label {
  font-weight: bold;
}

.checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}
.checkbox-group label {
  word-break: break-all;
}



.logs > .log:not(:first-child) {
  margin-top: 2px;
  border-top: 1px dotted black;
  padding-top: 2px;
}
.logs > .log {
  font-family: monospace;
}



.file-tree {

}

.file-tree > .file {

}

.file-tree > .directory {

}

.file-tree > .directory > .file {
  margin-left: 10px;
}



.options > .section-header {
  display: flex;
  margin: 2px 0px;
  flex-wrap: wrap;
  gap: 2px;
}
.options > .section-header > :first-child {
  font-weight: bold;
  flex-grow: 1;
}



.app > .footer {
  display: flex;
  align-items: center;
}
.app > .footer > .status-code {
  font-family: monospace;
  font-weight: 500;
  width: 7ex;
}
.app > .footer > .status-text {
}



.seperator {
  width: 2px;
  height: calc(100% + 4px);
  margin: 0px 4px;
  background-color: black;
}
.seperator.vertical {
  width: calc(100% + 4px);
  height: 2px;
  margin: 4px 0px;
  margin-left: -2px;
  background-color: black;
}



.status-led {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  margin: 4px;
  border: 2px solid black;
}
.status-led.init { background-color: orange; }
.status-led.idle { background-color: lime; }
.status-led.import { animation: 1s anim infinite alternate; }
@keyframes anim {
  0% { background-color: #0000FF; }
  100% { background-color: #00FFFF; }
}




.render-frame {
  min-height: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  --fg: #555;
  --bg: #333;
  background-color: #252525;
}
.render-frame > img {
  object-fit: contain;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  background-image:
    linear-gradient(45deg, var(--fg) 25%, transparent 25%),
    linear-gradient(-45deg, var(--fg) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--fg) 75%),
    linear-gradient(-45deg, transparent 75%, var(--fg) 75%),
    linear-gradient(45deg, var(--bg) 0%, var(--bg) 100%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
